@using System.Linq
@model IEnumerable<EnergyProject.Models.PaymentAccount>


<link rel="stylesheet" href="~/css/user.css" />

<section class="page">
    <div class="page-header">
        <div>
            <h1 class="h1">Payment accounts</h1>
            <p class="lead">
                List of all payment accounts linked to your profile.
            </p>
        </div>
        <div class="page-header-actions">
            <a class="user-btn user-btn-primary"
               asp-area="Client"
               asp-controller="PaymentAccount"
               asp-action="Create">
                Create payment account
            </a>
        </div>
    </div>

    <div class="card mt-24">
        <div class="table-wrapper">
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Address</th>
                        <th>Tariff</th>
                        <th>Meter Id</th>
                        <th>Power status Id</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                        <tr class="empty-row">
                            <td colspan="6">There are no payment accounts yet.</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var pa in Model)
                        {
                            <tr>
                                <td data-label="Id">@pa.Id</td>
                                <td data-label="User Id">@pa.UserId</td>
                                <td data-label="Address Id">@pa.Address.City @pa.Address.Street @pa.Address.House @pa.Address.Apartment</td>
                                <td data-label="Meter Id">@pa.Tariff.PricePerKWh</td>
                                @if (pa.Meter != null)
                                {
                                    <td data-label="Meter Id">@pa.Meter.SerialNumber </td>

                                }
                                else
                                {
                                    <td data-label="Meter Id">NULL </td>
                                }
                                <td data-label="Meter Id">@pa.PowerStatus.Status</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
