@using EnergyProject.Models
@{

    ViewData["Title"] = "UserProfile";
     
}

<link rel="stylesheet" href="~/css/user.css" /> 

<section class="page">
    <h1 class="h1">Profile</h1>

    <div class="grid grid-2 mt-12">
        <div class="card">
            <div class="h2">Personal</div>
            <div class="grid">
                <h3>@Model.Id</h3>
                <h3>@Model.Email</h3>
                <h3>@Model.PasswordHash</h3>
                <h3>@Model.FullName</h3>
                <h3>@Model.Phone</h3>
                <h3>@Model.Role</h3>
                <!--<div><strong>Login</strong><br/>user1</div>
                <div><strong>Email</strong><br/><span class="chip chip-dark">posta1@gmail.com</span></div>
                <div><strong>Phone</strong><br/><span class="chip chip-dark">+000 67 000 00 01</span></div>-->
            </div>
            <div class="mt-12"><a class="btn" href="#">Edit</a></div>
        </div>
    </div>
</section>